body {
	background-color: lightpink;
	font-family: Nutmeg, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

.nav-bar {
	top: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	position: absolute;
	flex-direction: rows;
	height: 25px;
	padding: 5px;
	border: 1px solid lightgrey;
	background-color: white;
}
.nav-bar img {
	mix-blend-mode: multiply;
	margin: 0px 10px;
	width: 20px;
	height: 20px;
}
.fb img:hover {
	width: 24px;
	height: 24px;
	border: 1px solid orange;
	border-radius: 12px;
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
}
.email img:hover {
	width: 24px;
	height: 24px;
	border: 1px solid orange;
	border-radius: 12px;
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
}
.num {
	font-size: 14px;
	position: absolute;
	top: 8px;
}
.phone img {
	margin-right: 4px;
}
.home {
	display: flex;
	position: absolute;
	right: 280px;
	transition: all 0.5s;
}
.menu {
	display: flex;
	position: absolute;
	right: 200px;
	transition: all 0.5s;
}
.deliv {
	display: flex;
	position: absolute;
	right: 50px;
	transition: all 0.5s;
}

.nav-bar div:hover a {
	top: 0px;
	display: flex;
	border: 1px solid white;
	border-radius: 5px;
	background-color: orange;
	padding: 1px 5px;
	color: white;
	box-shadow: 2px 2px 2px grey;
}

h1 {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	text-shadow: 2px 2px 2px orange;
	font-size: 46px;
}

.logo {
	position: absolute;
	top: 43%;
	left: 44.7%;
	border: 2px solid orange;
	border-radius: 25px;
	width: 150px;
	height: 150px;
}

.container {
	display: grid;
	position: absolute;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-gap: 50px 245px;
	width: 1300px;
	height: 530px;
	top: 15%;
	left: 5.5%;
	padding: 10px 20px;
}

.item1 {
	width: 100%;
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 10px 10px 10px darkgrey;
	text-align: center;
}
.item2 {
	width: 100%;
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 10px 10px 10px darkgrey;
	text-align: center;
}
.item3 {
	position: relative;
	width: 100%;
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 10px 10px 10px darkgrey;
	text-align: center;
}
.browse {
	font-weight: 500;
	position: absolute;
	border: 1px solid orange;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
	left: 37%;
	bottom: 10%;
}
.browse:hover {
	position: absolute;
	border: 3px solid white;
	border-radius: 10px;
	background-color: orange;
	box-shadow: 2px 2px 2px grey;
	padding: 7px;
	left: 36%;
	bottom: 8%;
	white-space: nowrap;
}
.browse:hover a{
	font-weight: 500;
	color: white;
}

.item4 {
	position: relative;
	width: 100%;
	padding: 10px;
	background-color: #f1f1f1;
	border-radius: 10px;
	box-shadow: 10px 10px 10px darkgrey;
	text-align: center;
}
.book {
	font-weight: 500;
	position: absolute;
	border: 1px solid orange;
	border-radius: 10px;
	background-color: white;
	padding: 5px;
	left: 40%;
	bottom: 10%;
}
.book:hover{
	position: absolute;
	border: 3px solid white;
	border-radius: 10px;
	background-color: orange;
	box-shadow: 2px 2px 2px grey;
	padding: 7px;
	left: 39%;
	bottom: 8%;
	white-space: nowrap;
}
.book:hover a{
	font-weight: 500;
	color: white;
}

@media screen and (width <= 1367px) {
	h1 {
		font-size: 38px;
	}
	.container {
		width: 1130px;
		height: 400px;
		grid-template-rows: 230px 230px;
		grid-gap: 25px 240px;
		left: 6.3%;
		top: 13%;
	}
	.browse {
		left: 35%;
		bottom: 8%;
	}
	.browse:hover {
		left: 34%;
		bottom: 6%;
	}
	.book {
		left: 38%;
		bottom: 8%;
	}
	.book:hover {
		left: 37%;
		bottom: 6%;
	}
}