body {
	background-color: lightpink;
	font-family: Nutmeg, sans-serif;
}
a {
	color: black;
	text-decoration: none;
}
.nav-bar {
	top: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	position: absolute;
	flex-direction: rows;
	height: 25px;
	padding: 5px;
	border: 1px solid lightgrey;
	background-color: white;
}
.nav-bar img {
	mix-blend-mode: multiply;
	margin: 0px 10px;
	width: 20px;
	height: 20px;
}
.fb img:hover {
	width: 24px;
	height: 24px;
	border: 1px solid orange;
	border-radius: 12px;
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
}
.email img:hover {
	width: 24px;
	height: 24px;
	border: 1px solid orange;
	border-radius: 12px;
	box-shadow: 2px 2px 2px grey;
	cursor: pointer;
}
.num {
	font-size: 14px;
	position: absolute;
	top: 8px;
}
.phone img {
	margin-right: 4px;
}
.home {
	display: flex;
	position: absolute;
	right: 280px;
	transition: all 0.5s;
}
.menu {
	display: flex;
	position: absolute;
	right: 200px;
	transition: all 0.5s;
}
.us {
	display: flex;
	position: absolute;
	right: 90px;
	transition: all 0.5s;
}

.nav-bar div:hover a {
	top: 0px;
	display: flex;
	border: 1px solid white;
	border-radius: 5px;
	background-color: orange;
	padding: 1px 5px;
	color: white;
	box-shadow: 2px 2px 2px grey;
}

.form-container {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid orange;
	border-radius: 20px;
	background-color: lightgrey;
	padding: 3% 1%;
	width: 500px;
	height: 450px;
	top: 100px;
	left: 100px;
	box-shadow: 10px 10px 10px grey;
	
 }

.form-title {
	position: absolute;
	font-weight: 700;
	top: 10px;
	left: 215px;
}

.form-container div {
	position: absolute;
	display: flex;
	margin: 5px 0px;
}

.recipient {
	flex-direction: column;
	top: 60px;
}
.recipient-num {
	flex-direction: column;
	top: 60px;
	left: 280px;
}
.address {
	flex-direction: column;
	top: 180px;
}
.address input {
	width: 490px;
}
.email-opt {
	flex-direction: column;
	top: 120px;
}
.recipient input, .recipient-num input, .email-opt input, .res-date input {
	width: 225px;
}
.res-date {
	flex-direction: column;
	top: 120px;
	left: 280px;
}
.comments {
	display: flex;
	flex-direction: column;
	bottom: 90px;
	width: 500px;
}

.recipient input, .recipient-num input, .address input, .email-opt input, .res-date input {
	border-radius: 5px;
	box-shadow: inset 1px 2px 3px black;
	padding: 3px;
}
.btn {
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 25px;
}
.btn input {
	width: 100px;
	padding: 2px;
	border-radius: 5px;
}
.sub {
	margin-right: 300px;
}